
<h1 class="m-5">My profile</h1>
<div>
  <div class="m-5 d-flex justify-content-around border border-dark text-center">
    <div>
      <h2><p><%= @user.name %></p></h2>
      <%= cl_image_tag @user.photo.key, height: 400, width: 600, crop: :fill, class: "rounded" %>
    </div>
    <div class="m-5">
      <p class="mt-3">My email: <%= @user.email %></p>
      <p class="mt-3"> My phone_number: <%= @user.phone_number %> </p>
      <p class="mt-3"> My bio: <%= @user.description %></p>
      <% income = 0 %>
      <% current_user.reservations.each do |reservation| %>
        <% income += reservation.total %>
      <% end %>
      <h6 class="mt-5 fs-1">My future income: <%= income%>€</h6>
    </div>
  </div>
  <div class="m-5 d-flex justify-content-around">
      <%= link_to new_midget_path do %>
        <button type="button" class="btn btn-outline-warning ms-5 btn-lg">Add a new midget</button>
      <% end %>
      <%= link_to midget_reservations_path(current_user.midgets) do %>
        <button type="button" class="btn btn-outline-warning ms-3 btn-lg">Check my reservations</button>
      <% end %>
  </div>

<h3 class="m-5">Your midgets</h3>

<div class="midgets row justify-content-around">
  <% Midget.where(user_id: current_user.id).each do |midget| %>
    <div class="col-md-3 m-3">
      <div class="card-trip" style="width: 18rem;">
          <%= link_to midget_path(midget.id) do%>
            <%= cl_image_tag midget.photo.key, height: 200, width:300, crop: :fill, class: "text-center" %>
          <% end %>
            <div class="card-trip-infos bg-secondary text-white">
              <div>
                <h2 class="text-white"><%= midget.name %></h2>
                <p><%= midget.speciality %></p>
              </div>
              <%= link_to 'Fire', midget_path(midget.id), method: :delete, class: "btn btn-outline-warning" %>
            </div>
      </div>
    </div>
  <% end %>
</div>
