
<div>
  <div class="m-5 col-5">
    <h2><p><%= @user.name %></p></h2>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
    <p>My email: <%= @user.email %></p>
    <p> My phone_number: <%= @user.phone_number %> </p>
    <p> My bio: <%= @user.description %></p>
  </div>
</div>
  <h3>Your midgets  <%= link_to new_midget_path do %>
        <button type="button" class="btn btn-outline-secondary ms-3">Add new</button>
      <% end %></h3>
<div class="midgets d-inline-flex">
        <% Midget.where(user_id: current_user.id).each do |midget| %>
          <div class="card-trip">
            <%= cl_image_tag midget.photo.key, height: 200, width: 200, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= midget.name %></h2>
                <p><%= midget.speciality %></p>
              </div>
              <h2 class="card-trip-pricing"><%= link_to midget.price, midget %></h2>
              <%= cl_image_tag midget.user.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered" %>
            </div>
          </div>
        <% end %>
  </div>
</div>
