

<h1>Your reservations</h1>
<div class="container">
    <div class="row justify-content-around w-100">
      <% @reservations.each do |reservation| %>
        <div class="col-md-4">
          <% midget = Midget.find(reservation.midget_id) %>
          <div class="card" style="width: 18rem;">
            <%= cl_image_tag midget.photo.key, height: 250, width: 250, crop: :fill, style: "width: 100%;" %>
            <div class="card-body">
              <h5 class="card-title">Your reservation details</h5>
              <p class="card-text"><%= midget.name %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">From: <%= reservation.start_date %> </li>
              <li class="list-group-item">To: <%= reservation.end_date %></li>
              <li class="list-group-item">Price per day: <%= reservation.price %>€</li>
              <li class="list-group-item">Total: <%= reservation.total %>€</li>
            </ul>
            <div class="card-body">
              <%= link_to 'Your midget bio', midget_path(midget) , class: "btn btn-success" %>
              <% if policy(reservation).destroy? %>
                <%= link_to "Delete my reservation", reservation_path(reservation, midget), class:"btn btn-warning", method: :delete, data: { confirm: "Are you sure?"}  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
</div>
