<div class="container">

  <%= simple_form_for @reservation do |f| %>

    <%= f.input :start_date, label: 'From', error: 'This field is mandatory, please specify one' %>
    <%= f.input :end_date, label: 'To', error: 'This field is mandatory, please specify one' %>
    <%= f.button :submit %>
  <% end %>

  <p>Price per day: <%= @midget.price %>€</p>

  <%= link_to midget_path(@midget.id) do %>
  <button type="button" class="btn btn-outline-secondary">Back</button>
  <% end %>

</div>
