<div>
  <%= form_tag midgets_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a midget"
    %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<div class="container">
  <div class="row">
    <div class="row row-cols-4">
      <% @midgets.each do |midget| %>
          <div class="card-trip">
          <%= image_tag "https://fr.web.img6.acsta.net/pictures/20/03/02/15/47/5009987.jpg" %>
          <%= link_to midget_path(midget) do %>
            <div class="card-trip-infos">
              <div>
                <h2><%= midget.name %></h2>
                <p><%= midget.speciality %></p>
              </div>
              <h2 class="card-trip-pricing"><%= midget.price %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          <% end %>
          </div>
      <% end %>
      <%= link_to new_midget_path do %>
        <button type="button" class="btn btn-outline-secondary">New</button>
      <% end %>
    </div>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
